.sliderRoot {
  overflow: hidden;
  height: 100%;
}

.sliderFrame {
  list-style: none;
  padding: 0;
  height: 100%;
  margin: 0;
}

.slide {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: width 300ms ease;
}

.slideImg {
  position: absolute;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.slideImgFullHeight {
  height: 100%;
}

.slideImgFullWidth {
  width: 100%;
}
