.slideImg {
  margin-right: -50%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.dotsContainer {
  margin-right: -50%;
  transform: translate(-50%, 0);
  left: 50%;
}

.dot {
  border-radius: 50%;
}
